<header class="text-gray-400 border-b-2 border-black">
    <div class="flex justify-start items-center pl-4 gap-4 border-l border-r border-black w-fit">
        <h1 class="text-white text-xl">Mango.Web</h1>
        <ul class="flex items-center">
            <li class="border-l border-gray-500 px-2 py-2">Privacy</li>
            <li class="border-l border-gray-500 px-2 py-2">Home</li>
            <li class="border-l border-gray-500 px-2 py-2">Content Management</li>
        </ul>
    </div>
</header>