<header class="text-gray-400 border-b-2 border-black flex justify-between items-stretch">
    <nav class="flex justify-start items-center pl-4 gap-4 border-x border-black w-fit">
        <h1 class="text-white text-xl">Mango.Web</h1>
        <ul class="flex items-center">
            <li class="border-l border-gray-500 px-2 py-2">Privacy</li>
            <li class="border-l border-gray-500 px-2 py-2">Home</li>
            <li class="border-l border-gray-500 px-2 py-2">Content Management</li>
        </ul>
    </nav>
    <div class="flex items-center border-x border-black">
        <div class="flex justify-center items-center border-r border-gray-500 h-full px-2">
            <a routerLink="/login">Login</a>
        </div>
        <div class="flex justify-center items-center h-full px-2">
            <a routerLink="/register">Register</a>
        </div>
    </div>
</header>