<div class="flex flex-col justify-center items-center gap-4 py-4 min-w-[1000px] px-60 mt-4 border border-gray-200">
    <h2 class="text-3xl font-semibold text-gray-300">Register</h2>
    <form class="flex flex-col justify-center items-center gap-2 w-full">
        <input type="email" placeholder="Email..." class="rounded h-10 indent-3 w-full">
        <input type="text" placeholder="Name..." class="rounded h-10 indent-3 w-full">
        <input type="text" placeholder="Phone Number..." class="rounded h-10 indent-3 w-full">
        <input type="text" placeholder="Username..." class="rounded h-10 indent-3 w-full">
        <input type="password" placeholder="Password..." class="rounded h-10 indent-3 w-full">
        <button type="submit" class="bg-green-500 rounded w-full h-10 text-white">Regsister</button>
    </form>
</div>
